@import 'functions';
@import 'settings';

/*-----------header-------------------------------------------------------------------------------------------*/
.header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    padding: rem(28) 0;
    background-color: $baseBlockColor;

    &__container {
        display: flex;
        column-gap: rem(10);
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper {
        flex: 0 1 rem(180);
    }

    &__page {
        max-width: rem(385);
        display: flex;
        column-gap: rem(10);
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex: 0 0 auto;
        font-size: rem(28);
        @include adaptiv-value('font-size', 28, 20, 1);
        font-weight: 500;
        font-family: Montserrat;
        text-transform: uppercase;
    }

    &__menu {
        flex: 0 1 auto;
    }

    &__search {
        position: relative;
        flex: 0 1 rem(530);
    }

    &__info {
        flex: 0 1 auto;
        justify-content: flex-end;
        display: flex;
        @include adaptiv-value('column-gap', 20, 16, 1);
    }
}

.menu {
    display: none;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(10) rem(20);
    }

}


.search {
    &__mobile-magnifer {
        display: none;
        font-size: rem(18);
    }

    &__page {
        display: flex;
        align-items: center;
        height: rem(40);
        border-radius: rem(4);
        overflow: hidden;
        z-index: 4;
        border: rem(1) solid #CECECE;
    }

    &__page._active {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $baseBlockColor;
    }

    &__magnifier,
    &__close {
        cursor: pointer;
        flex: 0 0 rem(40);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(14);
    }

    &__info {
        flex: 1 1 auto;
        min-width: 0;
        padding: rem(10) 0 rem(10) 0;
    }

    &__body {
        display: none;
        position: absolute;
        top: rem(50);
        left: 0;
        width: 100%;
        max-height: calc(100vh - 92px);
        overflow: hidden;
        overflow-y: auto;
        border-radius: rem(4);
        border: rem(1) solid $borderSearch;
        background-color: $baseBlockColor;

        &::-webkit-scrollbar {
            width: rem(15);
            background-color: $scrollBody;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $scroll;
        }
    }

    &__body.show {
        display: block;
    }

    &__shell {
        cursor: pointer;
        padding: rem(12) rem(14) 0 rem(14);
    }

    &__row {
        display: flex;
        padding-bottom: rem(12);
        column-gap: rem(13);
        align-items: center;
    }

    &__shell:not(:last-child) &__row {
        border-bottom: rem(1) solid $borderSearch;
    }

    &__img {
        flex: 0 0 rem(41);
        height: rem(70);
        overflow: hidden;
        border-radius: rem(4);
    }

    &__img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__name {
        margin-bottom: rem(7);
    }

    &__zero {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(60);
    }
}


.header-info {

    align-items: center;

    &__page {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__page:hover &__shell {
        opacity: 1;
        visibility: visible;
    }

    &__icon_page {
        display: flex;
        column-gap: rem(7);
    }

    &__icon {
        font-size: rem(20);
        color: $userInfo;
        margin-bottom: rem(3);
    }

    &__count {
        display: none;
    }

    &__count.show {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $whiteColor;
        background-color: #03CEA4;
        border-radius: rem(4);
        padding: rem(5);
        min-width: rem(22);
        font-size: rem(12);
        height: max-content;
    }

    &__text {
        color: $userInfo;
        font-size: rem(12);
    }

    &__shell {
        cursor: auto;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: rem(30);
        right: 0;
        padding-top: rem(20);
        transition: 0.3s ease 0s;
    }

    &__body {
        width: rem(237);
        border-radius: rem(10);
        padding: rem(24) rem(17);
        background-color: $whiteColor;
        box-shadow: 0px 0px rem(14) 0px #E7E7E7;
    }

    &__rows {
        cursor: pointer;
        display: flex;
        column-gap: rem(13);
        align-items: center;
    }

    &__rows:not(:last-child) {
        margin-bottom: rem(15);
    }

    &__rows_normal:hover &__icon {
        color: $decorElementHoverV2;
    }

    &__rows_normal:hover &__text {
        color: $decorElementHoverV2;
    }

    &__rows_exit &__icon {
        color: $redText;
    }

    &__rows_exit &__text {
        color: $redText;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        min-width: rem(22);
    }

    // &__icon {}

    &__shell &__icon {
        transition: 0.3s ease 0s;
    }

    &__shell &__text {
        font-size: rem(14);
        transition: 0.3s ease 0s;
    }


}

.menu-burger {
    display: none;
}


@media(max-width:em(730)) {
    .header {
        padding: rem(20) 0;

        &__search {
            position: static;
        }
    }

    .search {

        &__body {
            top: rem(65);
            min-height: calc(100vh - rem(65));
            border-radius: 0;
            border: none;
            border-top: rem(1) solid $borderSearch;

            &::-webkit-scrollbar {
                width: rem(8);
            }
        }
    }

    .menu {
        display: block;
        position: fixed;
        z-index: 2;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: $baseBlockColor;
        transition: all 0.3s ease 0s;
        overflow: auto;

        &__list {
            padding: rem(100) rem(30);
            row-gap: rem(30);
            flex-direction: column;
        }

        &__link {
            font-size: rem(24);
        }

    }

    .menu._active {
        right: 0;
    }

    .menu-burger {
        z-index: 3;
        flex: 0 0 rem(30);
        display: block;
        position: relative;
        height: rem(20);

        &__line {
            position: absolute;
            left: 0;
            width: 100%;
            height: rem(2);
            background-color: $decorElement;
            transition: all 0.3s ease 0s;
        }

        &__line:nth-child(1) {
            top: 0;
        }

        &__line:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &__line:nth-child(3) {
            bottom: 0;
        }

    }

    .menu-burger._active .menu-burger__line:nth-child(1) {
        top: rem(9);
        transform: rotate(45deg);
    }

    .menu-burger._active .menu-burger__line:nth-child(2) {
        width: 0%;
    }

    .menu-burger._active .menu-burger__line:nth-child(3) {
        bottom: rem(9);
        transform: rotate(-45deg);
    }


    .search {
        &__mobile-magnifer {
            display: block;
        }

        &__page {
            border: none;
            display: none;
        }

        &__magnifier {
            flex: 0 0 rem(60);
        }

        &__close {
            flex: 0 0 rem(60);
        }
    }

    .header-info__text {
        display: none;
    }

}