@import 'settings';

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    color: $baseTextColor;
    -ms-text-size-abjust: 100%;
    -moz-text-size-abjust: 100%;
    -webkit-text-size-abjust: 100%;
}

body {
    font-size: $fontSize;
    scrollbar-width: rem(14);
    scrollbar-color: $scrollBody $scroll;

    &::-webkit-scrollbar {
        width: rem(14);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scroll;
    }
}

body.dark {
    $baseTextColor: #DDDDDD;
    $placeholderColor: rgb(192, 192, 192);
    $baseBlockColor: #19191A;
    $productBlockColor: #282929;
    $menuBlockColor: #2C2D2E;
    $buttonColor: #313334;
    $buttonColorV2: #393c3d;
    $scrollColorV2: #1c1c1f;

    color: $baseTextColor;
    background-color: $baseBlockColor;
    scrollbar-color: $scrollBody $menuBlockColor;

    &::-webkit-scrollbar {
        width: rem(14);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $menuBlockColor;
    }

    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: $placeholderColor;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $placeholderColor;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $placeholderColor;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: $placeholderColor;
    }

    header {
        background-color: $baseBlockColor;
    }

    .header__menu {
        background-color: $baseBlockColor;
    }

    .menu-burger__line {
        background-color: $decorElementBlackMode;
    }

    .header-info__body {
        box-shadow: none;
        background-color: $menuBlockColor;
    }

    .header-info__rows_normal .header-info__link {
        color: $baseTextColor;
    }


    .header-info__rows_normal:hover .header-info__icon {
        color: $decorElementHoverV4;
    }

    .header-info__rows_normal:hover .header-info__link {
        color: $decorElementHoverV4;
    }

    .popup-user__info:hover {
        color: $decorElementHoverV2;
    }

    [class*='_icon'] {
        color: $baseTextColor;
    }

    .header-info__rows_exit .header-info__icon {
        color: $redText;
    }

    .search__page {
        border: $productBlockColor;
        background-color: $productBlockColor;
    }

    .filter__spoiler {
        border: $productBlockColor;
        background-color: $productBlockColor;
    }

    .filter__price-max,
    .filter__price-min {
        border: $productBlockColor;
        background-color: $productBlockColor;
    }


    .filter__slider {
        background-color: $productBlockColor;
    }

    .spoiler__true-checkbox {
        border-color: $baseTextColor;
    }

    .header-info__text {
        color: $baseTextColor;
    }

    .product-card {
        box-shadow: none;
        background-color: $productBlockColor;
    }

    .product-card__rows {
        background: $productBlockColor;
    }

    .product-card:hover .product-card__rows {
        box-shadow: none;
    }

    .product-card:hover .product-card__shell-image {
        background-color: $productBlockColor;
    }

    .product-card__price {
        color: $baseTextColor;
    }

    .product-card__name {
        color: $baseTextColor;
    }

    .product-card__count {
        box-shadow: none;
        background-color: #353637;
    }

    .search__body {
        border-color: $menuBlockColor;
        background-color: $menuBlockColor;
        scrollbar-color: $scrollBody $menuBlockColor;

        &::-webkit-scrollbar {
            background-color: $menuBlockColor;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $productBlockColor;
        }
    }

    .search__shell:not(:last-child) .search__row {
        border-color: $productBlockColor;
    }

    .basket__wrapper,
    .basket__rows,
    .basket__image,
    .basket__name,
    .basket__row,
    .basket__column,
    .basket__info,
    .basket__total,
    .basket__price {
        background-color: $productBlockColor;
    }

    .basket__info>div {
        background-color: $productBlockColor;
    }

    .basket__total>div {
        background-color: $productBlockColor;
    }

    .basket__change {
        border-color: $baseTextColor;
    }

    .basket__change._disabled {
        border: rem(1) solid $placeholderColor;
    }

    .basket__change::before {
        background-color: $baseTextColor;
    }

    .basket__change::after {
        background-color: $baseTextColor;
    }

    .basket__change._disabled::before {
        background-color: $placeholderColor;
    }

    .basket__change._disabled::after {
        background-color: $placeholderColor;
    }

    .basket__icon {
        background-color: $productBlockColor;
    }

    .basket__price {
        color: $baseTextColor;
    }

    .basket__under {
        background-color: $productBlockColor;
    }

    .product__price-block {
        box-shadow: none;
        background-color: $productBlockColor;
    }

    .more-info:hover {
        color: $decorElementHoverV2;
    }

    .more-info:hover::before {
        border-color: $decorElementHoverV2;
    }

    .parameter__name {
        color: $baseTextColor;
        background-color: $baseBlockColor;
    }

    .review-slider__slide {
        box-shadow: none;
        background-color: $productBlockColor;
    }

    .review-button-prev,
    .review-button-next {
        box-shadow: none;
        background-color: $menuBlockColor;
    }

    .review__buttons a.review__button_watch {
        color: $baseTextColor;
        border-color: $productBlockColor;
        background-color: $productBlockColor;
    }

    .review__line-box {
        background-color: #737373;
    }

    .star {
        color: #737373;
    }

    .star.active,
    .review__star_orange {
        color: $star;
    }

    .delivery__product-price {
        color: $baseTextColor;
    }

    .menu-info__items.active a {
        color: $baseTextColor;
    }

    .menu-info__items:hover {
        color: $baseTextColor;
    }

    .pupup-status__body {
        background-color: $productBlockColor;
    }

    .pupup-status__list {
        background-color: $productBlockColor;
    }

    .pupup-status__truck {
        color: $decorElement;
    }

    .history__card-body {
        box-shadow: none;
    }

    .history__product-price {
        color: $baseTextColor;
    }

    .delivery__card {
        box-shadow: none !important;
    }

    .history__circle:hover {
        background-color: $buttonColorV2;
    }

    .history__circle:hover .history__point {
        background-color: $baseTextColor;
    }

    .history__card {
        box-shadow: none !important;
    }

    .history__menu {
        box-shadow: none;
        background-color: $buttonColor;
    }

    .history__menu-text:hover {
        background-color: $buttonColorV2;
    }

    .popup-user__sign,
    .popup-user__register {
        background-color: $productBlockColor;
    }

    .pupup-no-review__body,
    .pupup-review__body {
        background-color: $productBlockColor;
    }

    .review__button_watch {
        background-color: $productBlockColor;
    }

    .pupup-review__star {
        cursor: pointer;
        font-size: rem(22);
        color: #c4c4c4;
    }

    .pupup-review__star.active {
        color: $star;
    }

    .pupup-review__star:hover {
        color: $star;
    }

    .pupup-review__star:hover~* {
        color: $star;
    }

    .pupup-review__button.disabled {
        color: $productBlockColor;
    }

    .more-info:hover {
        color: $decorElementHoverV3;
    }

    .more-info:hover::before {
        border-color: $decorElementHoverV3;
    }

    .review-slider__slide_end:hover .more-info {
        color: $decorElementHoverV3;
    }

    .review-slider__slide_end:hover .more-info::before {
        border-color: $decorElementHoverV3;
    }

    .pupup-status__circle {
        background-color: $productBlockColor;
    }

    .pupup-status__circle_full {
        background-color: $decorElement;
    }

    .delivery__text-body {
        color: $baseTextColor;
    }

    .delivery__product-status {
        color: $baseTextColor;
    }

    .delivery__product-status.active {
        color: $decorElement;
    }

    .delivery__text-body::before {
        border-bottom: rem(1) dashed $baseTextColor;
    }

    .delivery__text-body.active::before {
        border-bottom: rem(1) dashed $decorText;
    }

    .delivery__product-status.active {
        color: $decorElementBlackModeV2;
    }

    .delivery__text-body.active::before {
        border-bottom: rem(1) dashed $decorElementBlackModeV2;
    }

    .pupup-status__dashed {
        background: linear-gradient(to right, transparent 50%, $productBlockColor 50%),
            linear-gradient(to right, $decorElementBlackMode, $decorElementBlackMode);
        background-size: rem(25) rem(2), 100% rem(2);
    }

    .pupup-status__circle {
        border: rem(1) solid $decorElementBlackMode;
    }

    .pupup-status__circle_full {
        background-color: $decorElementBlackMode;
    }

    .pupup-status__line {
        background-color: $decorElementBlackMode;
    }

    .pupup-status__truck {
        color: $decorElementBlackMode;
    }

    .pupup-status__circle {
        border: rem(1) solid $decorElementBlackMode;
    }

    .return__card-body {
        box-shadow: none;
    }

    .return__product-price {
        color: $baseTextColor;
    }

    .profile__section {
        background-color: $baseBlockColor;
    }


    .profile__section.active {
        background-color: $productBlockColor;
    }

    .profile__section:hover {
        background-color: $buttonColor;
    }

    .profile__rows,
    .profile__input {
        background-color: $productBlockColor;
        border: rem(1) solid $productBlockColor;
    }

    .password-eye span::before {
        background-color: $baseTextColor;
    }

    .admin__search-body {
        background-color: $productBlockColor;
        border: rem(1) solid $productBlockColor;
    }

    .admin__table {
        background-color: #1e2020;
    }

    .admin__table th {
        border: rem(1) solid #3d3f3f;
    }

    .admin__table td {
        border: rem(1) solid #3d3f3f;
    }

    .admin__table-edit {
        background-color: #1e2020;
    }

    .admin__name-product,
    .admin__edit-column {
        border: rem(1) solid #3d3f3f;
    }

    .admin__input-edit,
    .admin__textarea-edit {
        border: rem(1) solid #3d3f3f;
    }

    .admin__spoiler-page {
        border: rem(1) solid #3d3f3f;
    }

    .admin__input-edit_file {
        color: #bdbdbd;
    }

    .admin__spoiler-text {
        color: #bdbdbd;
    }

    .admin__spoiler-text.add {
        color: $baseTextColor;
    }

    .admin__input-edit_file.add {
        color: $baseTextColor;
    }

    .admin__spoiler-page .admin__page._open .admin__filter-item {
        border-top: rem(1) solid #3d3f3f;
    }

    .admin__filter-item:hover {
        background-color: $menuBlockColor;
    }

    .input-error {
        color: $redText;
        border: rem(1) solid $redText;
    }

    .input-error::-webkit-input-placeholder {
        color: $redText;
    }

    .input-error:-moz-placeholder {
        color: $redText;
    }

    .input-error::-moz-placeholder {
        color: $redText;
    }

    .input-error:-ms-input-placeholder {
        color: $redText;
    }

    .admin__spoiler-page.input-error .admin__page._open .admin__filter-item {
        border-top: rem(1) solid $redText;
    }

    .admin__filter-item {
        color: $baseTextColor;
    }

    .review__stars-grey {
        background-image: url('../../../img/03 product/star black.svg');
    }

    .products__null {
        background-color: $baseBlockColor;
    }

    .admin__table {
        background-color: $baseBlockColor;
    }

    .preloader {
        background-color: $baseBlockColor;
    }

    .preloader__circle {
        border: rem(10) solid $baseBlockColor;
        border-top: rem(10) solid $decorElementHoverV2;
        border-right: rem(10) solid $decorElementHoverV2;
    }

    @media(max-width:em(840)) {
        .pupup-status__dashed {
            background: linear-gradient(to top, transparent 50%, $productBlockColor 50%), linear-gradient(to bottom, $decorElementBlackMode, $decorElementBlackMode);
            background-size: 2px 25px, 2px 100%;
        }
    }
}

body._lock {
    overflow: hidden;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}