@import 'functions';
@import 'settings';

/*-----------return-------------------------------------------------------------------------------------------*/

.main__return {
    padding-top: rem(110);
}

/*-----------hat------------------*/

.return__hat {
    margin-bottom: rem(30);
}


/*-----------body------------------*/


.return__body {
    display: flex;
    flex-wrap: wrap;
    gap: rem(25);
    padding-bottom: rem(20);
}

.return__card-body {
    position: relative;
    overflow: hidden;
    flex: 0 1 calc(20% - rem(20));
    border-radius: rem(12);
    box-shadow: 0 0 0.9375rem 0.0625rem #EBEBEB;
}

.return__card-body:hover {
    overflow: visible;
}

.return__card-body._show {
    overflow: visible;
}

.return__card {
    box-shadow: none;
    font-family: Inter;
}

.return__card-rows {
    padding: 0 rem(15) rem(15) rem(15);
}

.return__product-page>div:not(:last-child) {
    margin-bottom: rem(5);
}

.return__rows {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
    gap: rem(5);
}

.return__circle {
    cursor: pointer;
    position: relative;
    flex: 0 0 rem(22);
    width: rem(22);
    height: rem(22);
    padding: rem(2);
    border-radius: 50%;
    overflow: hidden;
    transition: background 0.3s ease 0s;
}

.return__circle span {
    background-color: rgba(207, 207, 207, 0.363);
}

.return__circle:hover {
    background-color: #eeeeee;
}

.return__circle:hover .return__point {
    background-color: black;
}

.return__point {
    position: absolute;
    z-index: 5;
    left: 50%;
    width: rem(3);
    height: rem(3);
    border-radius: 50%;
    background-color: #CFCFCF;
    transition: background 0.3s ease 0s;
}

.return__point_top {
    top: rem(3);
    transform: translateX(-50%);
}

.return__point_center {
    top: 50%;
    transform: translate(-50%, -50%);
}

.return__point_bottom {
    bottom: rem(3);
    transform: translateX(-50%);
}

.return__menu {
    position: absolute;
    top: 66%;
    right: -50%;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    border-radius: rem(10);
    background-color: white;
    box-shadow: 0 0 0.9375rem 0.0625rem #EBEBEB;
    transition: 0.3s ease 0s;
}

.return__menu._show {
    opacity: 1;
    visibility: visible;
}

.return__menu-text {
    cursor: pointer;
    padding: rem(15);
    border-radius: rem(5);
    transition: background 0.3s ease 0s;
}

.return__menu-text:hover {
    background-color: #e9e9e9;
}

.return__product-name,
.return__product-price {
    color: $priceProduct;
    font-size: rem(18);
    line-height: 100%;
}

.return__product-price {
    @include adaptiv-exact('font-size', 580, 320, 18, 12);
}

.return__page,
.return__status {
    font-size: rem(18);
}

.return__page {
    display: flex;
    column-gap: rem(4);
}

.return__status.active {
    color: $redText;
}


@media(max-width:em(1150)) {

    .return__card-body {
        flex: 0 1 calc(25% - rem(20));
    }

}

@media(max-width:em(950)) {

    .return__card-body {
        flex: 0 1 calc(33.333% - rem(20));
    }

}

@media(max-width:em(749)) {

    .return__hat {
        margin-bottom: rem(25);
    }

}

@media(max-width:em(730)) {

    .main__return {
        padding-top: rem(80);
    }

    .return__page,
    .return__status {
        font-size: rem(17);
    }

}

@media(max-width:em(685)) {

    .return__page,
    .return__status {
        font-size: rem(14);
    }

}

@media(max-width:em(580)) {

    .return__body {
        margin-right: rem(-16);
    }

    .return__card-body {
        flex: 0 1 calc(50% - rem(20));
    }

    .return__page,
    .return__status {
        font-size: rem(18);
    }

}

@media(max-width:em(530)) {

    .return__body {
        gap: rem(15);
        margin-right: rem(-25);
    }

    .return__card {
        box-shadow: 0 0 rem(5) rem(1) #E9E9E9 !important;
    }

}

@media(max-width:em(480)) {

    .return__page,
    .return__status {
        font-size: rem(16);
    }

}

@media(max-width:em(420)) {
    .return__body {
        gap: rem(10);
        margin-right: rem(-30);
    }

    .return__card {
        box-shadow: 0 0 rem(5) rem(1) #E9E9E9 !important;
    }

    .return__card-rows {
        padding: 0 rem(10) rem(15) rem(10);
    }

}

@media(max-width:em(400)) {

    .return__product-name,
    .return__product-price {
        font-size: rem(16);
    }

    .return__page,
    .return__status {
        font-size: rem(14);
    }

}

@media(max-width:em(390)) {

    .return__product-name,
    .return__product-price {
        font-size: rem(14);
    }

}

@media(max-width:em(360)) {

    .return__page,
    .return__status {
        font-size: rem(12);
    }

}

@media(max-width:em(320)) {

    .return__page {
        flex-wrap: wrap;
    }

}