// Цвета ----------------------------------------------------------------------------------------------------------------------------------
// Текст
$baseTextColor: black;
$decorText: #17696A;
$nameProduct: #5A5A5A;
$priceProduct: #232323;
$userInfo: #4B4B4B;
$placeholderColor: #9E9E9E;
$whiteColor: white;
$redText: #FF5252;
$counterNumber: #03CEA4;

// Блоки
$baseBlockColor: white;
$decorElement: #17696A;
$decorElementHover: #1e8586;
$decorElementHoverV2: #239a9c;
$counter: #03CEA4;
$blackBlockColor: black;
$basketBlock: #F4F5F6;
$basketIcon: #C4C4C4;
$borderSearch: #CECECE;
$scroll: #D8D8D8;
$scrollBody: #EBEBEB;
$parameterColor: #868695;
$star: #FCA95D;



// Шрифты ---------------------------------------------------------------------------------------------------------------------------------
$fontFamily: 'Rubik';
$fontWeight: 400;
$fontSize: rem(16);
$titleFontSize: rem(32);
$nullFontSize: rem(20);



// Контейнер ------------------------------------------------------------------------------------------------------------------------------
$containerWidth: 1350;
$containerPadding: 15;
$maxWidth: 1920;