/* Структура сайта ---------------------------------------------------------------------------------------------------*/
@import 'functions';
@import 'settings';

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: clip;
    min-height: 100%;

    >main {
        flex: 1 1 auto;
    }
}

// Для контейнеров
[class*='__container'] {
    max-width: rem($containerWidth);
    padding: 0 rem($containerPadding);
    margin: 0 auto;
}

// Для Заголовков
[class*='__title'] {
    font-size: $titleFontSize;
}

// Для текста, который указывает на отсутствие товара
[class*='__null'] {
    font-size: $titleFontSize;
}

.main-button {
    transition: 0.3s ease 0s;
}

.main-button:hover {
    background-color: $decorElementHover;
}