@font-face {
  font-family: 'icons';
  src: url('../../fonts/icons.eot?vsnlj3');
  src: url('../../fonts/icons.eot?vsnlj3#iefix') format('embedded-opentype'),
    url('../../fonts/icons.ttf?vsnlj3') format('truetype'),
    url('../../fonts/icons.woff?vsnlj3') format('woff'),
    url('../../fonts/icons.svg?vsnlj3#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-moon:before {
  content: "\e914";
}

._icon-sun:before {
  content: "\e913";
}

._icon-truck:before {
  content: "\e912";
}

._icon-return:before {
  content: "\e911";
}

._icon-shopping:before {
  content: "\e90d";
}

._icon-review:before {
  content: "\e90e";
}

._icon-exit:before {
  content: "\e90f";
}

._icon-deliver:before {
  content: "\e910";
}

._icon-arrow-long:before {
  content: "\e900";
}

._icon-magnifier:before {
  content: "\e901";
}

._icon-basket-add:before {
  content: "\e902";
}

._icon-filter:before {
  content: "\e903";
}

._icon-eye:before {
  content: "\e904";
}

._icon-user:before {
  content: "\e905";
}

._icon-basket-delete:before {
  content: "\e906";
}

._icon-check:before {
  content: "\e907";
}

._icon-password:before {
  content: "\e908";
}

._icon-close:before {
  content: "\e909";
}

._icon-phone:before {
  content: "\e90a";
}

._icon-arrow:before {
  content: "\e90b";
}

._icon-star:before {
  content: "\e90c";
}