@charset "UTF-8";

/* Структура сайта ---------------------------------------------------------------------------------------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.wrapper>main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 84.375rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

[class*=__title] {
  font-size: 2rem;
}

[class*=__null] {
  font-size: 2rem;
}