@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: "Rubik";
  font-weight: 400;
  color: black;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}

body {
  font-size: 1rem;
  scrollbar-width: 0.875rem;
  scrollbar-color: #EBEBEB #D8D8D8;
}
body::-webkit-scrollbar {
  width: 0.875rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #D8D8D8;
}

body.dark {
  color: #DDDDDD;
  background-color: #19191A;
  scrollbar-color: #EBEBEB #2C2D2E;
}
body.dark::-webkit-scrollbar {
  width: 0.875rem;
}
body.dark::-webkit-scrollbar-thumb {
  background-color: #2C2D2E;
}
body.dark ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgb(192, 192, 192);
}
body.dark :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(192, 192, 192);
}
body.dark ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(192, 192, 192);
}
body.dark :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgb(192, 192, 192);
}
body.dark header {
  background-color: #19191A;
}
body.dark .header__menu {
  background-color: #19191A;
}
body.dark .header-info__body {
  box-shadow: none;
  background-color: #2C2D2E;
}
body.dark .header-info__rows_normal .header-info__link {
  color: #DDDDDD;
}
body.dark .header-info__rows_normal:hover .header-info__link {
  color: #239a9c;
}
body.dark [class*=_icon] {
  color: #DDDDDD;
}
body.dark .header-info__rows_exit .header-info__icon {
  color: #FF5252;
}
body.dark .search__page {
  border: #282929;
  background-color: #282929;
}
body.dark .filter__spoiler {
  border: #282929;
  background-color: #282929;
}
body.dark .filter__price-max,
body.dark .filter__price-min {
  border: #282929;
  background-color: #282929;
}
body.dark .filter__slider {
  background-color: #282929;
}
body.dark .spoiler__true-checkbox {
  border-color: #DDDDDD;
}
body.dark .header-info__text {
  color: #DDDDDD;
}
body.dark .product-card {
  box-shadow: none;
  background-color: #282929;
}
body.dark .product-card__rows {
  background: #282929;
}
body.dark .product-card:hover .product-card__rows {
  box-shadow: none;
}
body.dark .product-card:hover .product-card__shell-image {
  background-color: #282929;
}
body.dark .product-card__price {
  color: #DDDDDD;
}
body.dark .product-card__name {
  color: #DDDDDD;
}
body.dark .product-card__count {
  box-shadow: none;
  background-color: #2C2D2E;
}
body.dark .search__body {
  border-color: #2C2D2E;
  background-color: #2C2D2E;
  scrollbar-color: #EBEBEB #2C2D2E;
}
body.dark .search__body::-webkit-scrollbar {
  background-color: #2C2D2E;
}
body.dark .search__body::-webkit-scrollbar-thumb {
  background-color: #282929;
}
body.dark .search__shell:not(:last-child) .search__row {
  border-color: #282929;
}
body.dark .basket__wrapper,
body.dark .basket__rows,
body.dark .basket__image,
body.dark .basket__name,
body.dark .basket__row,
body.dark .basket__column,
body.dark .basket__info,
body.dark .basket__total,
body.dark .basket__price {
  background-color: #282929;
}
body.dark .basket__info > div {
  background-color: #282929;
}
body.dark .basket__total > div {
  background-color: #282929;
}
body.dark .basket__change {
  border-color: #DDDDDD;
}
body.dark .basket__change._disabled {
  border: 0.0625rem solid rgb(192, 192, 192);
}
body.dark .basket__change::before {
  background-color: #DDDDDD;
}
body.dark .basket__change::after {
  background-color: #DDDDDD;
}
body.dark .basket__change._disabled::before {
  background-color: rgb(192, 192, 192);
}
body.dark .basket__change._disabled::after {
  background-color: rgb(192, 192, 192);
}
body.dark .basket__icon {
  background-color: #282929;
}
body.dark .basket__price {
  color: #DDDDDD;
}
body.dark .basket__under {
  background-color: #282929;
}
body.dark .product__price-block {
  box-shadow: none;
  background-color: #282929;
}
body.dark .parameter__name {
  color: #DDDDDD;
  background-color: #19191A;
}
body.dark .review-slider__slide {
  box-shadow: none;
  background-color: #282929;
}
body.dark .review-button-prev,
body.dark .review-button-next {
  box-shadow: none;
  background-color: #2C2D2E;
}
body.dark .review__button_watch {
  color: #DDDDDD;
  border-color: #282929;
  background-color: #282929;
}
body.dark .review-slider__stars {
  color: #FCA95D;
}
body.dark .delivery__product-price {
  color: #DDDDDD;
}
body.dark .menu-info__items.active a {
  color: #DDDDDD;
}
body.dark .menu-info__items:hover {
  color: #DDDDDD;
}
body.dark .pupup-status__body {
  background-color: #282929;
}
body.dark .pupup-status__list {
  background-color: #282929;
}
body.dark .pupup-status__truck {
  color: #17696A;
}
body.dark .history__product-price {
  color: #DDDDDD;
}
body.dark .delivery__card {
  box-shadow: none !important;
}
body.dark .history__card {
  box-shadow: none !important;
}
body.dark .popup-user__sign,
body.dark .popup-user__register {
  background-color: #282929;
}

body._lock {
  overflow: hidden;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Структура сайта ---------------------------------------------------------------------------------------------------*/
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  min-height: 100%;
}
.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 84.375rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

[class*=__title] {
  font-size: 2rem;
}

[class*=__null] {
  font-size: 2rem;
}

/*-----------header-------------------------------------------------------------------------------------------*/
.header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.75rem 0;
  background-color: white;
}
.header__container {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
}
.header__wrapper {
  flex: 0 1 11.25rem;
}
.header__page {
  max-width: 24.0625rem;
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  flex: 0 0 auto;
  font-size: 1.75rem;
  font-size: 28px;
  font-weight: 500;
  font-family: Montserrat;
  text-transform: uppercase;
}
@media (max-width: 1350px) {
  .header__logo {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1030));
  }
}
.header__menu {
  flex: 0 1 auto;
}
.header__search {
  position: relative;
  flex: 0 1 33.125rem;
}
.header__info {
  flex: 0 1 auto;
  justify-content: flex-end;
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.menu {
  display: none;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 1.25rem;
}

.search__mobile-magnifer {
  display: none;
  font-size: 1.125rem;
}
.search__page {
  display: flex;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  z-index: 4;
  border: 0.0625rem solid #CECECE;
}
.search__page._active {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.search__magnifier, .search__close {
  cursor: pointer;
  flex: 0 0 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}
.search__info {
  flex: 1 1 auto;
  min-width: 0;
  padding: 0.625rem 0 0.625rem 0;
}
.search__body {
  display: none;
  position: absolute;
  top: 3.125rem;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 92px);
  overflow: hidden;
  overflow-y: auto;
  border-radius: 0.25rem;
  border: 0.0625rem solid #CECECE;
  background-color: white;
}
.search__body::-webkit-scrollbar {
  width: 0.9375rem;
  background-color: #EBEBEB;
}
.search__body::-webkit-scrollbar-thumb {
  background-color: #D8D8D8;
}
.search__body.show {
  display: block;
}
.search__shell {
  cursor: pointer;
  padding: 0.75rem 0.875rem 0 0.875rem;
}
.search__row {
  display: flex;
  padding-bottom: 0.75rem;
  -moz-column-gap: 0.8125rem;
       column-gap: 0.8125rem;
  align-items: center;
}
.search__shell:not(:last-child) .search__row {
  border-bottom: 0.0625rem solid #CECECE;
}
.search__img {
  flex: 0 0 2.5625rem;
  height: 4.375rem;
  overflow: hidden;
  border-radius: 0.25rem;
}
.search__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.search__name {
  margin-bottom: 0.4375rem;
}
.search__zero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
}

.header-info {
  align-items: center;
}
.header-info__page {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-info__page:hover .header-info__shell {
  opacity: 1;
  visibility: visible;
}
.header-info__icon_page {
  display: flex;
  -moz-column-gap: 0.4375rem;
       column-gap: 0.4375rem;
}
.header-info__icon {
  font-size: 1.25rem;
  color: #4B4B4B;
  margin-bottom: 0.1875rem;
}
.header-info__count {
  display: none;
}
.header-info__count.show {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #03CEA4;
  border-radius: 0.25rem;
  padding: 0.3125rem;
  min-width: 1.375rem;
  font-size: 0.75rem;
  height: -moz-max-content;
  height: max-content;
}
.header-info__text {
  color: #4B4B4B;
  font-size: 0.75rem;
}
.header-info__shell {
  cursor: auto;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 1.875rem;
  right: 0;
  padding-top: 1.25rem;
  transition: 0.3s ease 0s;
}
.header-info__body {
  width: 14.8125rem;
  border-radius: 0.625rem;
  padding: 1.5rem 1.0625rem;
  background-color: white;
  box-shadow: 0px 0px 0.875rem 0px #E7E7E7;
}
.header-info__rows {
  cursor: pointer;
  display: flex;
  -moz-column-gap: 0.8125rem;
       column-gap: 0.8125rem;
  align-items: center;
}
.header-info__rows:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.header-info__rows_normal .header-info__link {
  color: #4B4B4B;
}
.header-info__rows_normal:hover .header-info__icon {
  color: #239a9c;
}
.header-info__rows_normal:hover .header-info__link {
  color: #239a9c;
}
.header-info__rows_exit .header-info__icon {
  color: #FF5252;
}
.header-info__rows_exit .header-info__link {
  color: #FF5252;
}
.header-info__wrapper {
  display: flex;
  justify-content: center;
  min-width: 1.375rem;
}
.header-info__shell .header-info__icon {
  transition: 0.3s ease 0s;
}
.header-info__shell .header-info__link {
  font-size: 0.875rem;
  transition: 0.3s ease 0s;
}

.menu-burger {
  display: none;
}

@media (max-width: 59.375em) {
  .header__info {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
  }
}
@media (max-width: 45.625em) {
  .header {
    padding: 1.25rem 0;
  }
  .header__search {
    position: static;
  }
  .search__body {
    top: 4.0625rem;
    min-height: calc(100vh - 4.0625rem);
    border-radius: 0;
    border: none;
    border-top: 0.0625rem solid #CECECE;
  }
  .search__body::-webkit-scrollbar {
    width: 0.5rem;
  }
  .menu {
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu__list {
    padding: 3.75rem 1.25rem 1.25rem 1.25rem;
    row-gap: 1.25rem;
    flex-direction: column;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .menu._active {
    right: 0;
  }
  .menu-burger {
    z-index: 3;
    flex: 0 0 1.875rem;
    display: block;
    position: relative;
    height: 1.25rem;
  }
  .menu-burger__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #17696A;
    transition: all 0.3s ease 0s;
  }
  .menu-burger__line:nth-child(1) {
    top: 0;
  }
  .menu-burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-burger__line:nth-child(3) {
    bottom: 0;
  }
  .menu-burger._active .menu-burger__line:nth-child(1) {
    top: 0.5625rem;
    transform: rotate(45deg);
  }
  .menu-burger._active .menu-burger__line:nth-child(2) {
    width: 0%;
  }
  .menu-burger._active .menu-burger__line:nth-child(3) {
    bottom: 0.5625rem;
    transform: rotate(-45deg);
  }
  .search__mobile-magnifer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search__page {
    border: none;
    display: none;
  }
  .search__magnifier {
    flex: 0 0 3.75rem;
  }
  .search__close {
    flex: 0 0 3.75rem;
  }
  .header-info__text {
    display: none;
  }
  .header-info__icon_page {
    margin-bottom: 0;
  }
  .header-info__delivery, .header-info__sign-in {
    display: none;
  }
}
/*-----------main-------------------------------------------------------------------------------------------*/
main {
  padding-top: 7.5rem;
}

.products__container {
  display: flex;
  gap: 1.25rem;
}
.products__filter {
  flex: 0 0 17.5rem;
}
.products__body {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 1.25rem;
  gap: 1.25rem 1.25rem;
  margin-right: -1.25rem;
}
.products__card {
  flex: 0 1 calc(25% - 20px);
  font-family: Lato;
}
.products__card-rows {
  padding: 0 0.9375rem 0.9375rem 0.9375rem;
}
.products__page:nth-child(2) {
  align-self: flex-end;
}
.products__card:hover .products__basket {
  opacity: 1;
}
.products__basket {
  cursor: pointer;
  font-size: 26px;
  opacity: 0;
  color: #C4C4C4;
  transition: all 0.3s ease 0s;
}
@media (max-width: 580px) {
  .products__basket {
    font-size: calc(20px + 6 * ((100vw - 320px) / 260));
  }
}
.products__basket:hover {
  color: black;
}
.products__name {
  color: #5A5A5A;
}

.filter__body {
  position: sticky;
  top: 7.5rem;
  display: flex;
  flex-direction: column;
}
.filter__button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  background-color: #17696A;
  border-radius: 0.625rem;
  padding: 18px;
}
.filter__icon, .filter__text {
  color: white;
}
.filter__icon {
  font-size: 0.875rem;
}
.filter__text {
  font-weight: black;
}
.filter__page {
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 11.25rem);
  transition: all 0.3s ease 0s;
  scrollbar-width: 0rem;
  scrollbar-color: #EBEBEB #D8D8D8;
}
.filter__page::-webkit-scrollbar {
  width: 0rem;
}
.filter__page::-webkit-scrollbar-thumb {
  background-color: #D8D8D8;
}
.filter__options {
  padding-top: 0.9375rem;
}
.filter__title {
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom: 1rem;
}
.filter__rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.filter__price-min, .filter__price-max {
  padding: 0.3125rem;
  height: 1.625rem;
  text-align: center;
  width: 5.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid black;
}
.filter__slider {
  position: relative;
  height: 0.3125rem;
  border-radius: 1.25rem;
  background-color: #ddd;
}
.filter__range {
  position: absolute;
  left: 25%;
  right: 25%;
  height: 0.3125rem;
  border-radius: 1.25rem;
  background-color: #17696A;
}
.filter__range-input {
  position: relative;
  margin-bottom: 1.875rem;
}
.filter__range-min, .filter__range-max {
  position: absolute;
  top: -0.3125rem;
  height: 0.3125rem;
  width: 100%;
  background-color: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.filter input[type=range]::-webkit-slider-thumb {
  height: 1.0625rem;
  width: 1.0625rem;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: auto;
  background-color: #17696A;
}
.filter input[type=range]::-moz-range-thumb {
  height: 1.0625rem;
  width: 1.0625rem;
  border-radius: 50%;
  -moz-appearance: none;
  appearance: none;
  border: none;
  pointer-events: auto;
  background-color: #17696A;
}
.filter__spoiler:not(:last-child) {
  margin-bottom: 1rem;
}

.spoiler {
  overflow: hidden;
  border-radius: 0.625rem;
  border: 0.0625rem solid #D2D2D2;
}
.spoiler__title {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 1.125rem;
  justify-content: space-between;
}
.spoiler__name {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.spoiler__arrow {
  font-size: 0.9375rem;
  transition: all 0.3s ease 0s;
}
.spoiler__body {
  height: 0px;
  transition: all 0.3s ease 0s;
}
.spoiler__content {
  padding: 0rem 1.125rem 1.125rem;
}
.spoiler__rows {
  cursor: default;
  display: flex;
  align-items: center;
}
.spoiler__rows:not(:last-child) {
  margin-bottom: 0.625rem;
}
.spoiler__checkbox {
  display: none;
}
.spoiler__checkbox:checked + .spoiler__true-checkbox {
  border-color: #17696A;
  background-color: #17696A;
}
.spoiler__checkbox:checked + .spoiler__true-checkbox .spoiler__check {
  opacity: 1;
}
.spoiler__true-checkbox {
  cursor: pointer;
  flex: 0 0 1.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 0.1875rem;
  border: 0.0625rem solid black;
  margin-right: 0.8125rem;
}
.spoiler__check {
  opacity: 0;
  color: white;
  font-size: 0.6875rem;
}
.spoiler__property {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media (max-width: 67.5em) {
  .products__card {
    flex: 0 1 calc(33.333% - 1.25rem);
  }
}
@media (max-width: 60em) {
  main {
    padding-top: 6.25rem;
  }
  .products__container {
    flex-direction: column;
  }
  .products__filter {
    flex: 0 0 auto;
  }
  .products__card {
    flex: 0 1 calc(25% - 1.25rem);
  }
  .filter__options {
    padding-top: 1rem;
  }
  .filter__select {
    margin-bottom: 1rem;
  }
  .filter__title {
    margin-bottom: 0.3125rem;
  }
  .filter__page {
    max-height: none;
  }
}
@media (max-width: 48.4375em) {
  .products__card {
    flex: 0 1 calc(33.333% - 1.25rem);
  }
}
@media (max-width: 45.625em) {
  main {
    padding-top: 4.375rem;
  }
}
@media (max-width: 36.25em) {
  .products__card {
    flex: 0 1 calc(50% - 1.25rem);
  }
}
/*-----------popup_user-----------------------------------------------------------------------------*/
.popup-user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-user__content {
  display: flex;
  max-width: 313px;
  align-items: center;
  flex-direction: row-reverse;
  overflow: hidden;
  transform: translateY(-100%);
  transition: all 0.5s ease 0s;
}
.popup-user._open .popup__content {
  transform: translateY(0);
}
.popup-user__sign, .popup-user__register {
  flex: 0 0 313px;
  max-width: 313px;
  display: flex;
  padding: 1.875rem;
  overflow: hidden;
  border-radius: 0.3125rem;
  flex-direction: column;
  background-color: white;
  transition: 0.3s ease 0s all;
}
.popup-user__register {
  transition: all 0.5s ease 0s;
}
.popup-user__register._open {
  left: 0%;
}
.popup-user__close {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  color: black;
  align-self: flex-end;
}
.popup-user__title {
  text-align: center;
  font-size: 2.0625rem;
  line-height: 150%;
  margin-bottom: 1.5rem;
}
.popup-user__rows {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
  padding: 0.8125rem 0;
  border-bottom: 0.0625rem solid #9A9A9A;
}
.popup-user__rows:not(:last-child) {
  margin-bottom: 1.25rem;
}
.popup-user__rows:last-child {
  margin-bottom: 2.3125rem;
}
.popup-user__icon {
  color: #9A9A9A;
}
.popup-user__icon_eye {
  position: relative;
  cursor: pointer;
  font-size: 1.375rem;
}
.popup-user__icon_eye > span {
  position: absolute;
  top: 11px;
  left: -2px;
  width: 1.5625rem;
  height: 0.0625rem;
  transform: rotate(135deg);
}
.popup-user__icon_eye > span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #9A9A9A;
  transition: all 0.3s ease 0s;
}
.popup-user__icon_eye._showPassword > span::before {
  width: 100%;
}
.popup-user__input {
  width: 100%;
  flex: 1 1 auto;
}
.popup-user__main-button, .popup-user__info {
  display: block;
  width: 100%;
}
.popup-user__main-button {
  color: white;
  border-radius: 5px;
  padding: 0.75rem 0;
  background: #17696A;
  margin-bottom: 1.25rem;
}
.popup-user__info:hover {
  color: #17696A;
  transition: 0.3s ease 0s;
}
.popup-user__info {
  color: #1e8586;
}

.form-error {
  color: rgb(209, 37, 37);
}

.form-successfully {
  color: rgb(14, 172, 14);
}

/*-----------popup_order_status------------------------------------------------------------------*/
.pupup-status {
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pupup-status .popup__content {
  transform: scale(0.7);
  transition: transform 0.5s ease 0s;
}

.pupup-status._open .popup__content {
  transform: scale(1);
}

.pupup-status__body {
  position: relative;
  padding: 2.75rem 2.375rem 2.125rem;
  width: 40.25rem;
  border-radius: 1.25rem;
  background-color: white;
}

.pupup-status__close {
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  color: black;
}

.pupup-status__title {
  font-size: 1.5rem;
  margin-bottom: 5.25rem;
}

.pupup-status__page {
  display: flex;
  width: 34.8125rem;
  margin-bottom: 3.125rem;
  justify-content: space-between;
}

.pupup-status__columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
}

.pupup-status__circle {
  position: relative;
  z-index: 3;
  flex: 0 0 1.0625rem;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  background-color: white;
  border: 0.125rem solid #17696A;
}

.pupup-status__circle_full {
  background-color: #17696A;
}

.pupup-status__status {
  font-size: 0.875rem;
}

.pupup-status__container {
  position: absolute;
  top: 10rem;
  left: 4.625rem;
  padding: 0;
  width: 29.375rem;
  height: 0.0625rem;
}

.pupup-status__container_above {
  z-index: 4;
}

.pupup-status__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 2;
  height: 100%;
  background-color: #17696A;
}

.pupup-status__truck,
.pupup-status__list {
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
}

.pupup-status__truck {
  z-index: 5;
  font-size: 1.625rem;
  color: #17696A;
}

.pupup-status__list {
  width: 2.25rem;
  height: 1.625rem;
  background-color: white;
}

.pupup-status__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pupup-status__dashed {
  position: relative;
  left: -100px;
  width: 50rem;
  height: 100%;
  background: linear-gradient(to right, transparent 50%, #fff 50%), linear-gradient(to right, #17696A, #17696A);
  background-size: 1.5625rem 0.125rem, 100% 0.125rem;
  animation: 4s runLine infinite linear;
}

@keyframes runLine {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
}
@media (max-width: 52.5em) {
  .pupup-status {
    display: block;
  }
  .pupup-status__body {
    width: 100%;
    height: 100%;
    min-height: 31.25rem;
    border-radius: 0rem;
  }
  .pupup-status__title {
    font-size: 1.125rem;
    margin-bottom: 2.3125rem;
  }
  .pupup-status__page {
    flex-direction: column;
    row-gap: 3.125rem;
    width: auto;
    margin-bottom: 2.3125rem;
  }
  .pupup-status__columns {
    flex-direction: row;
    align-items: center;
    gap: 1.125rem;
  }
  .pupup-status__circle {
    flex: 0 0 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.0625rem solid #17696A;
  }
  .pupup-status__container {
    top: 6.25rem;
    left: 2.6875rem;
    width: 0.125rem;
    height: 16.75rem;
  }
  .pupup-status__dashed {
    position: relative;
    left: -100px;
    width: 50rem;
    height: 50rem;
    background: linear-gradient(to top, transparent 50%, #fff 50%), linear-gradient(to bottom, #17696A, #17696A);
    background-size: 2px 25px, 2px 100%;
    animation: 4s runLine infinite linear;
  }
  .pupup-status__truck,
  .pupup-status__list {
    transform: translate(50%, 50%);
  }
  .pupup-status__truck {
    bottom: 0;
    font-size: 1.25rem;
  }
  .pupup-status__list {
    bottom: 0.125rem;
    height: 1.25rem;
  }
  .pupup-status__line {
    min-width: 0.125rem;
    width: 100%;
    height: 25%;
  }
  @keyframes runLine {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }
}
/*-----------basket-------------------------------------------------------------------------------------------*/
.basket__title {
  font-size: 2.875rem;
  line-height: 160%;
  margin-bottom: 0.625rem;
}
.basket__body {
  display: flex;
  gap: 1rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
}
.basket__page:nth-child(1) {
  flex: 1 1 auto;
}
.basket__page:nth-child(2) {
  flex: 0 1 20.625rem;
  position: relative;
}
.basket__columns {
  display: flex;
  row-gap: 0.8125rem;
  flex-direction: column;
}
.basket__columns div {
  background-color: #F4F5F6;
}
.basket__columns_products {
  flex-direction: column-reverse;
}
.basket__columns_info {
  position: sticky;
  top: 7.5rem;
}
.basket__wrapper {
  display: flex;
  row-gap: 0.625rem;
  flex-direction: column;
  padding: 1.25rem 1.4375rem;
}
.basket__rows {
  display: flex;
  -moz-column-gap: 1.4375rem;
       column-gap: 1.4375rem;
  align-items: flex-start;
}
.basket__column {
  display: flex;
  flex-direction: column;
}
.basket__column_short {
  flex: 0 0 auto;
  row-gap: 0.625rem;
}
.basket__column_price {
  flex-grow: 1;
  align-items: flex-end;
  height: 100%;
}
.basket__image {
  cursor: pointer;
  width: 6rem;
  height: 8rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.basket__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.basket__column_name {
  max-width: 16.5625rem;
  flex-grow: 1;
  font-size: 1.125rem;
  line-height: 150%;
}
.basket__row {
  display: flex;
}
.basket__change, .basket__number {
  flex: 0 0 2rem;
  width: 2rem;
  height: 2rem;
}
.basket__change {
  position: relative;
  border: 0.0625rem solid black;
  border-radius: 0.5rem;
}
.basket__change._disabled {
  border: 0.0625rem solid #9E9E9E;
}
.basket__change._disabled::before {
  background-color: #9E9E9E;
}
.basket__change::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.875rem;
  height: 0.0625rem;
  background-color: black;
}
.basket__change:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.0625rem;
  height: 0.875rem;
  background-color: black;
}
.basket__number {
  min-width: 0;
  text-align: center;
}
.basket__price {
  font-size: 1.125rem;
  line-height: 130%;
  color: #232323;
  white-space: nowrap;
}
.basket__icon:nth-child(2) {
  margin-top: 0.8125rem;
}
.basket__icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: #C4C4C4;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.basket__wrapper:hover .basket__icon {
  opacity: 1;
  visibility: visible;
}
.basket__icon:hover {
  color: black;
}
.basket__under {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
}
.basket__info {
  display: flex;
  padding: 1.75rem 1.375rem;
}
.basket__info div {
  margin-left: 0.3125rem;
}
.basket__total {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 1.5rem 1.375rem;
}
.basket__pay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17696A;
  color: white;
  padding: 1.25rem;
}

.page {
  overflow: hidden;
  border-radius: 0.625rem;
}

@media (max-width: 65.625em) {
  .basket__body {
    flex-direction: column;
  }
  .basket__page:nth-child(2) {
    flex: 0 1 max-content;
  }
  .basket__columns_info {
    position: static;
  }
}
@media (max-width: 43.75em) {
  .basket__column_name {
    max-width: none;
  }
}
/*-----------product-------------------------------------------------------------------------------------------*/
.main__product {
  margin-bottom: 3.75rem;
}

.product {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.product__columns:nth-child(1) {
  flex: 1 1 max-content;
}

.product__columns:nth-child(2) {
  position: relative;
  flex: 1 0 21.875rem;
  max-width: 24.1875rem;
}

/*-----------info------------------------------------------*/
.product__info {
  display: flex;
  gap: 1.875rem 0.625rem;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}

.info__body:nth-child(1) {
  max-width: 22.6875rem;
  min-width: 16.8125rem;
  flex: 1 0 16.8125rem;
}

.info__body:nth-child(2) {
  max-width: 28.4375rem;
  flex: 1 0 max-content;
  line-height: 150%;
}

/*-----------size-box---------------*/
.info__size-box {
  position: relative;
  padding-top: 98.1432360743%;
}

.info__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 11.4058355438%;
}

.info__slider {
  flex-basis: 30.7692307692%;
}

.info__slider,
.info__main-img {
  flex-grow: 1;
  flex-shrink: 1;
}

.info__main-img {
  position: relative;
}

.info__main-img:hover .info__arrow span {
  opacity: 1;
}

.info__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.info__arrow:nth-child(1) {
  left: 0;
}

.info__arrow:nth-child(1) span {
  transform: rotate(-90deg);
}

.info__arrow:nth-child(3) {
  right: 0;
  justify-content: flex-end;
}

.info__arrow:nth-child(3) span {
  transform: rotate(90deg);
}

.info__arrow span {
  opacity: 0;
  font-size: 1.75rem;
  color: black;
  transition: 0.3s ease 0s;
}

.info__arrow:hover span {
  color: #21aeb1;
}

.swiper-pagination {
  position: static;
  margin-top: 0.9375rem;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #17696A;
}

.swiper__img {
  height: 100%;
}

.swiper__img:hover {
  outline: 0.125rem solid #17696A;
}

.swiper__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.info__main-img {
  cursor: pointer;
  flex-basis: auto;
  width: 100%;
  height: 100%;
}

.info__main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*-----------parameters---------------*/
.info__title {
  line-height: 107%;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.parameter {
  display: grid;
  grid-template-columns: minmax(auto, 17.5rem) auto;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  line-height: 150%;
}

.parameter__page {
  position: relative;
  color: #868695;
}

.parameter__page::before {
  content: "";
  position: absolute;
  bottom: 0.4375rem;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.0625rem dashed #868695;
}

.parameter__name {
  position: relative;
  z-index: 1;
  padding-right: 0.625rem;
  background-color: white;
}

.parameter__value {
  align-self: end;
}

.info__show,
.characteristic__show,
.characteristic__show-description {
  cursor: pointer;
  display: inline-block;
  position: relative;
  line-height: 150%;
}

.more-info {
  transition: 0.2s ease 0s;
}

.more-info::before {
  transition: 0.2s ease 0s;
}

.more-info:hover {
  color: #1e8586;
}

.more-info:hover::before {
  border-color: #1e8586;
}

.info__show::before,
.characteristic__show::before,
.characteristic__show-description::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.0625rem dashed #868695;
}

.characteristic__show {
  margin-top: 0.375rem;
}

/*-----------characteristic------------------------------------*/
.product__characteristic {
  display: flex;
  gap: 2.25rem;
}

.characteristic__page:nth-child(2) {
  width: 18rem;
  flex: 0 0 18rem;
  padding-top: 3.25rem;
}

.characteristic__shell {
  max-height: 16.25rem;
  overflow: hidden;
  transition: max-height 0.4s;
}

.characteristic__title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.characteristic__box:not(:last-child) {
  margin-bottom: 1.5rem;
}

.characteristic__sub-title {
  line-height: 150%;
}

.characteristic__description-title {
  margin-bottom: 0.4375rem;
}

.characteristic__parameter {
  word-break: break-all;
  grid-template-columns: minmax(auto, 12.8125rem) minmax(auto, 24.625rem);
}

.characteristic__description {
  max-height: 5rem;
  margin-bottom: 0.3125rem;
  overflow: hidden;
  transition: max-height 0.4s;
}

/*-----------price-block------------------------------------*/
.product__price-block {
  position: sticky;
  top: 7.5rem;
  padding: 1.6875rem 1.5625rem 1.875rem;
  border-radius: 1.4375rem;
  box-shadow: 0.0625rem 0.0625rem 1.25rem 0.625rem #F2F2F2;
  background-color: white;
}

.product__price {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

.product__add {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.9375rem;
  background-color: #17696A;
  margin-bottom: 1.25rem;
  padding: 0.9375rem 2.5rem;
}

.product__date {
  font-size: 0.875rem;
  text-align: center;
}

/*-----------review----------------------------------------------------------*/
.review {
  padding-bottom: 2.5rem;
}

.review__rows {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.review__rows:nth-child(1) {
  margin-bottom: 1.25rem;
}

.review__rows:nth-child(2) {
  flex-wrap: wrap;
  margin-bottom: 1.875rem;
}

.review__value {
  font-size: 1.25rem;
}

.review__stars-grey {
  flex: 0 0 auto;
  width: 6.25rem;
  height: 0.9375rem;
  transform: translateY(-0.0625rem);
  background-size: 20% 100%;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23C8C8D1%22%20fill-rule%3D%22evenodd%22%20d%3D%22M9.205.554c.3-.738%201.35-.739%201.651-.002l1.8%204.398c.02.05.066.084.12.09l4.419.432c.76.074%201.08%201.004.526%201.527l-3.373%203.182a.145.145%200%200%200-.042.135l.966%204.613c.16.764-.678%201.347-1.344.934l-3.808-2.362a.146.146%200%200%200-.152-.001l-3.85%202.33c-.666.404-1.494-.179-1.334-.939l.962-4.595a.146.146%200%200%200-.043-.136L2.285%206.992c-.563-.522-.242-1.461.523-1.533l4.49-.422c.054-.005.1-.04.12-.09L9.206.554Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.review__stars-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.review__stars-orange {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6.25rem;
  background-size: 20% 100%;
  background-repeat: repeat-x;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23FCA95D%22%20fill-rule%3D%22evenodd%22%20d%3D%22M9.205.554c.3-.738%201.35-.739%201.651-.002l1.8%204.398c.02.05.066.084.12.09l4.419.432c.76.074%201.08%201.004.526%201.527l-3.373%203.182a.145.145%200%200%200-.042.135l.966%204.613c.16.764-.678%201.347-1.344.934l-3.808-2.362a.146.146%200%200%200-.152-.001l-3.85%202.33c-.666.404-1.494-.179-1.334-.939l.962-4.595a.146.146%200%200%200-.043-.136L2.285%206.992c-.563-.522-.242-1.461.523-1.533l4.49-.422c.054-.005.1-.04.12-.09L9.206.554Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}

.review__body {
  position: relative;
  padding: 0 1.25rem;
  margin-bottom: 2.1875rem;
}

.review__slider {
  margin: -1.25rem;
  padding: 1.25rem;
  overflow: hidden;
}

.review-button-next,
.review-button-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0.875rem #E0E0E0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-button-prev {
  left: 0;
  transform: rotate(90deg) translateX(-50%);
}

.review-button-next {
  right: 0;
  transform: rotate(-90deg) translateX(50%);
}

.review-slider__slide {
  padding: 1.75rem 2.1875rem;
  border-radius: 1.875rem;
  background-color: white;
  box-shadow: 0 0 0.875rem 0 #E7E7E7;
}

.review-slider__rows {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  margin-bottom: 0.8125rem;
}

.review-slider__shell {
  flex: 1 1 auto;
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.review-slider__icon {
  flex: 0 0 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #17696A;
  color: white;
}

.review-slider__body {
  flex: 1 0 auto;
  display: flex;
  row-gap: 0.25rem;
  flex-direction: column;
  justify-content: center;
}

.review-slider__page {
  display: flex;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.review-slider__stars {
  font-size: 0.8125rem;
  color: #FCA95D;
}

.review-slider__date {
  overflow: hidden;
  max-height: 3.125rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.review-slider__comment {
  line-height: 130%;
}

.review__buttons {
  display: flex;
  gap: 0.625rem 0.9375rem;
  flex-wrap: wrap;
  max-width: -moz-max-content;
  max-width: max-content;
}

.review__button {
  flex: 1 1 auto;
  padding: 0.75rem 2.5rem;
  border-radius: 0.9375rem;
  border: 0.0625rem solid #17696A;
  transition: 0.3s ease 0s;
}

.review__button:hover {
  border: 0.0625rem solid #1e8586;
}

.review__button_send {
  color: white;
  background-color: #17696A;
}

.review__button_watch {
  color: #17696A;
  background-color: white;
}

@media (max-width: 75em) {
  .review__body {
    padding: 0;
  }
  .review-button-next,
  .review-button-prev {
    display: none;
  }
}
@media (max-width: 73.4375em) {
  .review {
    padding-bottom: 7.5rem;
  }
  .product__columns:nth-child(1) {
    width: 100%;
    flex: 1 0 100%;
  }
  .info__page,
  .info__show,
  .info__main-img {
    display: none;
  }
  .swiper__img:hover {
    outline: none;
  }
  .product__columns:nth-child(2) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    max-width: none;
    flex: none;
    background-color: transparent;
  }
  .product__price-block {
    border-radius: 0;
    padding: 0.9375rem 0.875rem 0.625rem;
    box-shadow: 0 -0.25rem 0.5rem 0 #D8D8D8;
  }
  .product__add {
    margin-bottom: 0.625rem;
  }
  .product__info {
    margin-bottom: 0rem;
    flex-direction: column;
  }
  .info__size-box {
    padding: 0;
  }
  .info__wrapper {
    position: static;
    display: block;
  }
  .info__body:nth-child(1) {
    max-width: none;
    min-width: 0;
  }
  .info__slider {
    height: calc(100vh - 210px);
  }
  .swiper-slide {
    width: auto;
  }
  .characteristic__page:nth-child(1),
  .characteristic__page:nth-child(2) {
    flex: 0 1 50%;
    width: auto;
  }
  .characteristic__page:nth-child(2) {
    padding: 0;
  }
  .product__price {
    margin-bottom: 1.875rem;
  }
  .info__title {
    margin-bottom: 1rem;
  }
  .characteristic__title {
    margin-bottom: 0.625rem;
  }
  .characteristic__title,
  .characteristic__description-title {
    font-size: 1.5625rem;
  }
  .main__product {
    margin-bottom: 2.5rem;
  }
  .review__body {
    margin-bottom: 1.5625rem;
  }
  .review__rows:nth-child(1) {
    margin-bottom: 0.625rem;
  }
  .review__rows:nth-child(2) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 41.25em) {
  .product__info {
    margin: 0;
  }
  .characteristic__title,
  .characteristic__description-title {
    font-size: 1.375rem;
  }
  .characteristic__title,
  .product__characteristic {
    flex-direction: column-reverse;
  }
  .characteristic__page:nth-child(1),
  .characteristic__page:nth-child(2) {
    flex: 0 1 100%;
  }
}
@media (max-width: 26.5625em) {
  .review-slider__slide {
    padding: 1.25rem;
  }
}
/*-----------delivery-------------------------------------------------------------------------------------------*/
.main__delivery {
  padding-top: 6.875rem;
}

/*-----------hat------------------*/
.delivery {
  font-family: Inter;
}

.delivery__hat {
  display: flex;
  justify-content: space-between;
  gap: 1rem 4.6875rem;
  flex-wrap: wrap;
  margin-bottom: 1.875rem;
}

.delivery__box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1350px) {
  .delivery__box {
    -moz-column-gap: calc(10px + 20 * ((100vw - 320px) / 1030));
         column-gap: calc(10px + 20 * ((100vw - 320px) / 1030));
  }
}

.delivery__rows {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.delivery__text {
  font-size: 1.25rem;
}

/*-----------delivery__body------------------*/
.delivery__body {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
  padding-bottom: 1.25rem;
}

.delivery__card {
  flex: 0 1 calc(20% - 1.25rem);
  font-family: Inter;
}

.delivery__card-rows {
  padding: 0 0.9375rem 1.25rem 0.9375rem;
}

.delivery__product-page > div:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.delivery__product-name,
.delivery__product-price,
.delivery__product-status {
  color: #232323;
  font-size: 1.125rem;
  line-height: 100%;
}

.delivery__product-price,
.delivery__product-status {
  font-size: 18px;
}
@media (max-width: 580px) {
  .delivery__product-price,
  .delivery__product-status {
    font-size: calc(14px + 4 * ((100vw - 320px) / 260));
  }
}

.delivery__text-body {
  cursor: pointer;
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
}

.delivery__text-body::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.0625rem dashed #232323;
}

.delivery__text-body.active::before {
  border-bottom: 0.0625rem dashed #17696A;
}

.delivery__product-status {
  word-break: break-all;
  overflow: hidden;
  max-height: 3.125rem;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.delivery__product-status.active {
  color: #17696A;
}

@media (max-width: 71.875em) {
  .delivery__card {
    flex: 0 1 calc(25% - 1.25rem);
  }
}
@media (max-width: 48.4375em) {
  .delivery__card {
    flex: 0 1 calc(33.333% - 1.25rem);
  }
}
@media (max-width: 46.8125em) {
  .delivery__hat {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 45.625em) {
  .main__delivery {
    padding-top: 5rem;
  }
}
@media (max-width: 36.25em) {
  .delivery__body {
    margin-right: -1rem;
  }
  .delivery__card {
    flex: 0 1 calc(50% - 1.25rem);
  }
}
@media (max-width: 33.125em) {
  .delivery__body {
    gap: 0.9375rem;
    margin-right: -1.5625rem;
  }
  .delivery__card {
    box-shadow: 0 0 0.3125rem 0.0625rem #E9E9E9 !important;
  }
}
@media (max-width: 28.125em) {
  .delivery__text {
    font-size: 1rem;
  }
}
@media (max-width: 26.25em) {
  .delivery__body {
    gap: 0.625rem;
    margin-right: -1.875rem;
  }
  .delivery__card {
    box-shadow: 0 0 0.3125rem 0.0625rem #E9E9E9 !important;
  }
  .delivery__card-rows {
    padding: 0 0.625rem 1.25rem 0.625rem;
  }
  .delivery__product-name,
  .delivery__product-price,
  .delivery__product-status {
    font-size: 1rem;
  }
}
@media (max-width: 24.375em) {
  .delivery__product-name,
  .delivery__product-price,
  .delivery__product-status {
    font-size: 0.875rem;
  }
}
/*-----------history-------------------------------------------------------------------------------------------*/
.main__history {
  padding-top: 6.875rem;
}

/*-----------hat------------------*/
.history__hat {
  margin-bottom: 1.875rem;
}

/*-----------body------------------*/
.history__body {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
  padding-bottom: 1.25rem;
}

.history__card {
  flex: 0 1 calc(20% - 1.25rem);
  font-family: Inter;
}

.history__card-rows {
  padding: 0 0.9375rem 0.9375rem 0.9375rem;
}

.history__product-page > div:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.history__product-name,
.history__product-price {
  color: #232323;
  font-size: 1.125rem;
  line-height: 100%;
}

.history__product-price {
  font-size: 18px;
}
@media (max-width: 580px) {
  .history__product-price {
    font-size: calc(12px + 6 * ((100vw - 320px) / 260));
  }
}

.history__page,
.history__status {
  font-size: 1.125rem;
}

.history__page {
  display: flex;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.history__status.active {
  color: #FF5252;
}

@media (max-width: 71.875em) {
  .history__card {
    flex: 0 1 calc(25% - 1.25rem);
  }
}
@media (max-width: 59.375em) {
  .history__card {
    flex: 0 1 calc(33.333% - 1.25rem);
  }
}
@media (max-width: 46.8125em) {
  .history__hat {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 45.625em) {
  .main__history {
    padding-top: 5rem;
  }
  .history__page,
  .history__status {
    font-size: 1.0625rem;
  }
}
@media (max-width: 42.8125em) {
  .history__page,
  .history__status {
    font-size: 0.875rem;
  }
}
@media (max-width: 36.25em) {
  .history__body {
    margin-right: -1rem;
  }
  .history__card {
    flex: 0 1 calc(50% - 1.25rem);
  }
  .history__page,
  .history__status {
    font-size: 1.125rem;
  }
}
@media (max-width: 33.125em) {
  .history__body {
    gap: 0.9375rem;
    margin-right: -1.5625rem;
  }
  .history__card {
    box-shadow: 0 0 0.3125rem 0.0625rem #E9E9E9 !important;
  }
}
@media (max-width: 30em) {
  .history__page,
  .history__status {
    font-size: 1rem;
  }
}
@media (max-width: 26.25em) {
  .history__body {
    gap: 0.625rem;
    margin-right: -1.875rem;
  }
  .history__card {
    box-shadow: 0 0 0.3125rem 0.0625rem #E9E9E9 !important;
  }
  .history__card-rows {
    padding: 0 0.625rem 0.9375rem 0.625rem;
  }
}
@media (max-width: 25em) {
  .history__product-name,
  .history__product-price {
    font-size: 1rem;
  }
  .history__page,
  .history__status {
    font-size: 0.875rem;
  }
}
@media (max-width: 24.375em) {
  .history__product-name,
  .history__product-price {
    font-size: 0.875rem;
  }
}
@media (max-width: 22.5em) {
  .history__page,
  .history__status {
    font-size: 0.75rem;
  }
}
@media (max-width: 20em) {
  .history__page {
    flex-wrap: wrap;
  }
}
/*-----------return-----------------------------------------------------------------------------------------*/
.main__return {
  padding-top: 6.875rem;
}

/*-----------BEM-------------------------------------------------------------------------------------------*/
/*-----------product-card------------*/
.product-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.9375rem 0.0625rem #EBEBEB;
}
.product-card__shell-image {
  position: relative;
  cursor: pointer;
  padding: 1.25rem 0.9375rem 0rem 0.9375rem;
}
.product-card__image {
  position: relative;
  padding-top: 150%;
  margin-bottom: 1rem;
}
.product-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-card__shell-info {
  position: relative;
  min-height: 3.125rem;
}
.product-card__rows {
  width: 100%;
  min-height: 100%;
  display: flex;
  -moz-column-gap: 0.3125rem;
       column-gap: 0.3125rem;
  background: white;
}
.product-card__page:nth-child(1) {
  flex: 1 1 auto;
}
.product-card__name {
  font-size: 18px;
  margin-bottom: 0.3125rem;
  word-break: break-all;
  overflow: hidden;
  max-height: 3.125rem;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@media (max-width: 580px) {
  .product-card__name {
    font-size: calc(14px + 4 * ((100vw - 320px) / 260));
  }
}
.product-card__price {
  color: #232323;
  font-size: 1.5rem;
  font-size: 24px;
}
@media (max-width: 580px) {
  .product-card__price {
    font-size: calc(14px + 10 * ((100vw - 320px) / 260));
  }
}

.product-card:hover {
  overflow: visible;
}

.product-card:hover .product-card__rows {
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  z-index: 2;
  overflow: hidden;
  border-radius: 0 0 0.75rem 0.75rem;
  box-shadow: 0 0 0.9375rem 0.0625rem #EBEBEB;
}

.product-card:hover .product-card__name {
  overflow: visible;
  max-height: -moz-max-content;
  max-height: max-content;
  -webkit-line-clamp: initial;
  display: block;
  -webkit-box-orient: initial;
  text-overflow: initial;
}

.product-card:hover .product-card__shell-image {
  overflow: hidden;
  position: relative;
  z-index: 4;
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: white;
}

.product-card__count {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border-radius: 0.3125rem;
  color: #03CEA4;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem;
  min-width: 1.375rem;
  font-size: 0.875rem;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0 0 0.3125rem 0.0625rem #E9E9E9;
}

.product-card__count_disabled {
  display: none;
}

/*-----------button------------*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #17696A;
  padding: 0.875rem 1.875rem;
  border-radius: 0.625rem;
  transition: 0.3s ease 0s;
}

.button:hover {
  background-color: #1e8586;
}

/*-----------main-button------------*/
.main-button {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease 0s;
}

.main-button:hover {
  background-color: #1e8586;
}

/*-----------ripple------------*/
.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.418);
  animation: start-ripple 2s ease forwards;
}

@keyframes start-ripple {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}
/*-----------popup------------*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: all 0.3s ease 0s;
}

.popup._open {
  opacity: 1;
  visibility: visible;
}

/*-----------menu-info------------*/
.menu-info__list {
  display: flex;
  row-gap: 0.3125rem;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1350px) {
  .menu-info__list {
    -moz-column-gap: calc(10px + 20 * ((100vw - 320px) / 1030));
         column-gap: calc(10px + 20 * ((100vw - 320px) / 1030));
  }
}

.menu-info__items {
  color: #979797;
  transition: 0.3s ease 0s;
}

.menu-info__items:hover {
  color: black;
}

.menu-info__items.active a {
  color: black;
}

.menu-info__links {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 28.125em) {
  .menu-info__links {
    font-size: 1rem;
  }
}